.plaincircle {
    -fx-fill: white;
    -fx-stroke: black;
}

.circleborder {
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
}

.border {
    -fx-stroke: black;
    -fx-stroke-width: 5;
    -fx-fill: transparent;
}

#redcircle {
    -fx-fill: red;
    -fx-stroke: red;
}

#greencircle {
    -fx-fill: green;
    -fx-stroke: green;
}
